<table>
  <thead>
    <tr>
      <th>Name</th>      
    </tr>
  </thead>    
  <% @quizzes.each do |quiz| %>
    <tbody>
      <td><%= link_to quiz.name, '/quizzes/'+ quiz.id.to_s %></td>
    </tbody>
  <% end %>
</table>