<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>      
    </tr>
  </thead>    
  
    <tbody>
      <td><%= @course.name %></td>
      <td><%= link_to "New Quiz", new_quiz_path %></td>
      <td><%= link_to "See All Quizzes", quizzes_path %></td>
    </tbody>
  
</table>
